.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: url("https://res.cloudinary.com/dfaxzahb0/image/upload/v1673919827/Invitaciones/floral_ribx8p.jpg");
  background-repeat: no-repeat;
  background-position: center center ;
  background-size:cover;
  padding-bottom: 40px;
}
/* .container{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(243, 217, 243);
  padding-bottom: 40px;
} */

.container h2{
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  text-align: center;
}

.btnW{
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: larger;
  background: rgb(27, 215, 65);
  border-radius: 10px;
  text-decoration: none;
  padding: 20px;
  margin-bottom: 20px;
}

.btnW span {
  margin-right: 10px;
}

.btnW:hover{
  background: rgb(6, 127, 30);

}

.recomendacion{
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.nota{
  width: 80%;
  text-align:justify;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  color: black;
}

@media (max-width: 390px) {
  .nota {
    font-size: 18px;
  }
}