.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: url("https://res.cloudinary.com/dfaxzahb0/image/upload/v1673899768/Invitaciones/anillos_dqhrja.jpg");
  background-repeat: no-repeat;
  background-position: center center ;
  background-size:cover;
  padding-bottom: 20px;
  text-align: center;
}

.text{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

h3{
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  margin: 0;
}

h2{
  font-size: 60px;
  font-family: 'Dancing Script', cursive;
}

@media (max-width: 370px) {
  h3{
  font-size: 18px;
  }

  h2{
    font-size: 30px;
  }
  h4{
    font-size: 15px;
  }
}
