.container{
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  background-color: rgb(243, 217, 243);
  padding-bottom: 40px;
}

.btn{
  display: flex;
  width: 150px;
  height: 30px;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: larger;
  background: rgb(212, 228, 232);
  border-radius: 10px;
  text-decoration: none;
  border: 2px solid black;
}

.hotel{
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.hoteles{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media (max-width: 370px) {
  .btn{
    width: 100px;
    height: 25px;
    font-size: small;
  }
}