.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.btnC{
  display: flex;
  width: 150px;
  height: 30px;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: larger;
  background: rgb(151, 35, 223);
  border-radius: 10px;
  text-decoration: none;
  padding: 20px;
  margin-top: 15px;
}

.btnC:hover{
  background: rgb(82, 6, 129);
}