.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: url("https://res.cloudinary.com/dfaxzahb0/image/upload/v1673919827/Invitaciones/floral_ribx8p.jpg");
  background-repeat: no-repeat;
  background-position: center center ;
  background-size:cover;
  padding-bottom: 20px;
  text-align: center;
}

.cards{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}


.card {
  /* background-color: rgb(212, 228, 232); */
  margin: 20px;
  border-radius: 10px;
  /* border: 2px solid goldenrod; */
  text-align: center;
  padding-bottom: 8px;
  width: 200px;
}

.card img {
  height: 250px;
  width: 180px;
}

.text{
  font-size: large;
}

.titulo{
  font-size: large;
  font-weight: bold;
  margin-bottom: 5px;
}
